.horizontal-slider {
  height: 20px;
  width: 500px;
}

.slider-thumb {
  text-align: center;
  background-color: #ff794d;
  border-radius: 25px;
  top: 1px;
  width: 50px;
  height: 18px;
}

.slider-track {
  background-color: #dbdbdb;
  border-radius: 5px;
  top: 5px;
  height: 10px;
}
